@model GitHubLabelInitialiser.Web.Models.NavigationFooterViewModel

@{
    Layout = null;
}

<p>&copy; <a href="http://bayn.es">Simon Baynes</a> 2015 - @DateTime.Today.Year Version @Model.AppVersion</p>