version: 1.0.{build}
skip_tags: true
configuration: Release
test:
  assemblies:
    - '**\*.Test.dll'
build:
  publish_wap: true
  verbosity: minimal
environment:
  GitHubClientSecret:
    secure: '/RvaiBfnHiVoye0eISqr4E4mk3+8/bJ8TcMcaBTUrZesDKKjF6gfS68kELOYMkCs'
deploy:
- provider: WebDeploy
  server: https://githublabelinitialiser.scm.azurewebsites.net:443/msdeploy.axd?site=GitHubLabelInitialiser
  website: GitHubLabelInitialiser
  username: $GitHubLabelInitialiser
  password:
    secure: EclcLmkMBIdGta73AF7OEbtuzX5wrzU0LZ9lcQn6KOMWBypCJOzK93lbtO+tgcW/rnNumlqUUMKPbGKs23XGIw==
notifications:
  - provider: Slack
    auth_token:
      secure: pNtoiPCggdMOGNCtM2TqlUt1+RawC7BtMCvZsB8c3G89ON5a/UChY1T2jOah7IV7v5jFi/lQXJFUqI/LD99hRw==
    channel: '#build'