version: 1.0.{build}
skip_tags: true
build:
  verbosity: minimal
notifications:
  - provider: Slack
    auth_token:
      secure: pNtoiPCggdMOGNCtM2TqlUt1+RawC7BtMCvZsB8c3G89ON5a/UChY1T2jOah7IV7v5jFi/lQXJFUqI/LD99hRw==
    channel: '#build'