<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>GitHub Label Initialiser</title>
		<link href="@Url.Content("~/Content/bootstrap/css/bootstrap-min.css")" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		@RenderBody()
        @{ Html.RenderAction("footer", "navigation"); }
		<script src="@Url.Content("~/Content/bootstrap/js/bootstrap.min.js")"></script>
	</body>
</html>